/* Responsive Grid-Anpassung für Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .m-home {
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten auf Tablets */
        gap: 30px;
        

    }
    .m-home.post{ grid-template-columns: 1fr;
        width: 50vw;}
}

/* Responsive Grid-Anpassung für Desktop */
@media (min-width: 1024px) {
    .m-home {
        grid-template-columns: repeat(3, 1fr); /* Drei Spalten auf Desktops */
        gap: 40px;
    }
    .m-home.whatwedo{ grid-template-columns: repeat(2, 1fr); width: 60vw;
        }

    .m-home.post{ grid-template-columns: 1fr;
    width: 40vw;}
}